<div class="component-wrapper">
    <div class="login-wrapper">
        <md-card class="inscription-card">
            <div class="header">
                <h4>{{user.firstname }} {{user.lastname}}</h4>
            </div>
            <div class="information">
                <h5 *ngIf="user.twitterpage != null" >Twitter : <span>{{user.twitterpage}}</span></h5>
                <h5 *ngIf="user.linkedinaccount != null">Linkedin : <span>{{user.linkedinaccount}}</span></h5>
                <h5 *ngIf="user.homepage != null">Home page : <span>{{user.homepage}}</span></h5>
            </div>
            <div class="qr-code">
                <!--Qr Code-->
                <app-qrcode></app-qrcode>
            </div>
        </md-card>
    </div>
</div>