<div class="component-wrapper fixed-height">

  <h1 id="description-title">{{title}}</h1>

  <app-autocomplete [seachFor]="'label'" [items]="roles" [namespace]="'person-by-role'"></app-autocomplete>
  <div scrollLoader class="search-results" [listItems]="roles" (updatePartialTable)="tabRoles = $event">
    <div class="action-links list-items" *ngFor="let role of tabRoles">
      <mat-card>
        <mat-icon mat-list-avatar>perm_identity</mat-icon>
        <a [routerLink]="['/person-by-role/'+encoder.encode(role.label)+'/'+role.id]">{{role.label}}</a>
      </mat-card>
    </div>
  </div>
</div>
