<div class="component-wrapper fixed-height">

  <h1 id="description-title">{{title}}</h1>

  <app-autocomplete [seachFor]="'label'" [items]="roles" [namespace]="'person-by-role'"></app-autocomplete>
  <div scrollLoader class="search-results" [listItems]="roles" (updatePartialTable)="tabRoles = $event">
    <div class="action-links list-items" *ngFor="let role of tabRoles">
      <md-card>
        <md-icon md-list-avatar>perm_identity</md-icon>
        <a [routerLink]="['/person-by-role/'+role.label+'/'+role.id]">{{role.label}}</a>
      </md-card>
    </div>
  </div>
</div>
