<div *ngIf="(publication.informations) != null">

  <h2>Title</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>title</md-icon>
      <p>{{publication.informations[0].publiTitle.value}}</p>
    </md-card>
  </div>

  <h2>Reference</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>book</md-icon>
      <p>{{publication.informations[0].publiResume.value}}</p>
    </md-card>
  </div>

  <h2>Link</h2>

  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>link</md-icon>
      <a href="{{publication.informations[0].publiLink.value}}" target="_blank">{{publication.informations[0].publiLink.value}}</a>
    </md-card>
  </div>

  <h2>Year</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>date_range</md-icon>
      <p>{{publication.informations[0].publiDate.value}}</p>
    </md-card>
  </div>


  <h2>Publisher</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>book</md-icon>
      <p>{{publication.informations[0].publiJournal.value}}</p>
    </md-card>
  </div>


  <div *ngIf="(publication.authors ) != null">
    <h2>Authors</h2>
    <div class="action-links list-items" *ngFor="let author of publication.authors">
      <md-card>
        <md-icon md-list-avatar>perm_identity</md-icon>
        <a [routerLink]="['/person/'+author.authorName.value+'/'+author.authorUri.value]">{{author.authorName.value}}</a>
      </md-card>
    </div>
  </div>
</div>