<div *ngIf="(publication.informations) != null">

  <h2>Title</h2>
  <div class="action-links list-items">
    <mat-card class="info-text">
      <mat-icon mat-list-avatar>title</mat-icon>
      <p>{{publication.informations[0].publiTitle.value}}</p>
    </mat-card>
  </div>

  <h2>Reference</h2>
  <div class="action-links list-items">
    <mat-card class="info-text">
      <mat-icon mat-list-avatar>book</mat-icon>
      <p>{{publication.informations[0].publiResume.value}}</p>
    </mat-card>
  </div>

  <h2>Link</h2>

  <div class="action-links list-items">
    <mat-card>
      <mat-icon mat-list-avatar>link</mat-icon>
      <a href="{{publication.informations[0].publiLink.value}}" target="_blank">{{publication.informations[0].publiLink.value}}</a>
    </mat-card>
  </div>

  <h2>Year</h2>
  <div class="action-links list-items">
    <mat-card class="info-text">
      <mat-icon mat-list-avatar>date_range</mat-icon>
      <p>{{publication.informations[0].publiDate.value}}</p>
    </mat-card>
  </div>


  <h2>Publisher</h2>
  <div class="action-links list-items">
    <mat-card class="info-text">
      <mat-icon mat-list-avatar>book</mat-icon>
      <p>{{publication.informations[0].publiJournal.value}}</p>
    </mat-card>
  </div>


  <div *ngIf="(publication.authors ) != null">
    <h2>Authors</h2>
    <div class="action-links list-items" *ngFor="let author of publication.authors">
      <mat-card>
        <mat-icon mat-list-avatar>perm_identity</mat-icon>
        <a [routerLink]="['/person/'+encoder.encode(author.authorName.value)+'/'+author.authorUri.value]">{{author.authorName.value}}</a>
      </mat-card>
    </div>
  </div>
</div>