<h1 id="description-title">
  {{nameLocation}}
</h1>

<p *ngIf="address !== null">
  {{address}}
</p>

<mat-card *ngIf="geo !== null" class="info-text">
    <mat-icon>place</mat-icon>
    <a [href]="geo">Open in map</a>
</mat-card>

<h2>Schedule</h2>

<div class="action-links list-items multiple-lines" *ngFor="let event of eventsLocation">
  <mat-card>
    <a class="wrapper" [routerLink]="['/event/'+encoder.encode(event.label)+'/'+event.id]">
      <mat-icon mat-list-avatar>event</mat-icon>
      <span class="event">{{event.label}}</span>
      <div class="other-links">
        <span class="event-info"><mat-icon>schedule</mat-icon> {{event.dateVal}} </span>
      </div>
    </a>
  </mat-card>
</div>
