<h1 id="description-title">
  {{nameLocation}}
</h1>

<p *ngIf="address !== null">
  {{address}}
</p>

<md-card *ngIf="geo !== null" class="info-text">
    <md-icon>place</md-icon>
    <a [href]="geo">Open in map</a>
</md-card>

<h2>Schedule</h2>

<div class="action-links list-items multiple-lines" *ngFor="let event of eventsLocation">
  <md-card>
    <a class="wrapper" [routerLink]="['/event/'+encoder.encode(event.label)+'/'+event.id]">
      <md-icon md-list-avatar>event</md-icon>
      <span class="event">{{event.label}}</span>
      <div class="other-links">
      <span class="event-info"><md-icon>schedule</md-icon> {{event.startDate}} </span>
      <span class="event-info"><md-icon>hourglass_empty</md-icon> {{event.duration}} </span>
      <span class="event-info"><md-icon>update</md-icon> {{event.endDate}} </span>
      </div>
    </a>
  </md-card>
</div>
