<h1>
  {{eventsLocation.name}}
</h1>

<h2>Schedule</h2>

<div class="action-links list-items" *ngFor="let event of eventsLocation.events | keys">
  <md-card>
    <md-icon md-list-avatar>event</md-icon>
    <a [routerLink]="['/event/'+event.value.name+'/'+event.value.id]">
      <span class="event">{{event.value.name}}</span>
      <span class="event-info"><b> Starts at : </b> {{event.value.startsAt}} </span>
      <span class="event-info"><b> Lasts : </b>{{event.value.duration}} </span>
    </a>
  </md-card>
</div>