<!--Template for the header bar containing shortcuts-->
<div id="headerbar" style="display:none">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 col-sm-2">
        Contacts
        <div class="pull-left"><i class="fa fa-group"></i></div>
      <div class="pull-right"><span class="badge">2</span></div>

    </div>

    <div class="col-xs-6 col-sm-2">
      Messages
      <div class="pull-left"><i class="fa fa-envelope-o"></i></div>
      <div class="pull-right"><span class="badge">10</span></div>
    </div>


    <div class="col-xs-6 col-sm-2">
      Settings
      <div class="pull-left"><i class="fa fa-cog"></i></div>
    </div>

  </div>
</div>