
<div id="page-header">

    <div ng-include="GLOBAL_CONFIG.app.urls.partials+'navigation/breadcrumb.html'"></div>

    <h1>{{'organizations.links.organization' | translate }}</h1>


</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <panel panel-class="panel panel-gray"  heading="{{organization.label}}">
                        <div class="row">
                            <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
                                <img  no-image ng-src="{{ organization.img }}" alt="" class="pull-left img-responsive img-circle" style="margin: 0 20px 20px 0">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                                <h3>{{'organizations.model.description' | translate }}</h3>
                                <p>{{organization.description || '????'}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <td>{{'organizations.model.city' | translate }}</td>
                                            <td><span>{{organization.localization.city}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>{{'organizations.model.country' | translate }}</td>
                                            <td><span>{{organization.localization.country}}</span></td>
                                        </tr>

                                        <tr>
                                            <td>{{'organizations.model.website' | translate }}</td>
                                            <td><a href="{{organization.website}}">{{organization.website}}</a></td>
                                        </tr>

                                        <tr>
                                            <td>{{'persons.labels.social' | translate }}</td>
                                            <td>
                                                <!--<a href="#" class="btn btn-xs"><i class="fa fa-skype"></i></a>-->
                                                <a href="#" class="btn btn-xs"><i class="fa fa-facebook"></i>{{person.facebook || ''}}</a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-twitter"></i>{{person.twitter}}</a>
                                                <!--<a href="#" class="btn btn-xs"><i class="fa fa-dribbble"></i></a>-->
                                                <!--<a href="#" class="btn btn-xs"><i class="fa fa-tumblr"></i></a>-->
                                                <a href="#" class="btn btn-xs"><i class="fa fa-linkedin"></i>{{person.linkedIn || ''}}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </panel>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->


