<div class="forgotPassword-wrapper">
  <md-card class="inscription-card">
    <div class="header">
      <h4>Forgot password</h4>
    </div>
    <div class="forgotPassword-form">
      
      <form>
        <md-input-container>
          <input #email mdInput type="email" placeholder="Email">
        </md-input-container>

        <div class="forgotPassword-footer">
          <button md-button (click)="forgotPassword(email.value)" id="forgot-btn">Submit</button>
        </div>

        </form>
    </div>
  </md-card>
  <div id="toast"></div>
</div>