<div class="forgotPassword-wrapper">
  <mat-card class="inscription-card">
    <div class="header">
      <h4>Forgot password</h4>
    </div>
    <div class="forgotPassword-form">
      
      <form>
        <mat-form-field>
          <input #email matInput type="email" placeholder="Email">
        </mat-form-field>

        <div class="forgotPassword-footer">
          <button mat-button (click)="forgotPassword(email.value)">Submit</button>
        </div>

        </form>
    </div>
  </mat-card>
</div>