<!--
<button md-fab color="primary" [mdMenuTriggerFor]="menu" (click)="setRoute()">
  <md-icon>share</md-icon>
</button>
<md-menu class="sharemenu" #menu="mdMenu" xPosition="after" yPosition="above">
  <button (click)="openDialog()" md-menu-item><md-icon><i class="fa fa-qrcode"></i></md-icon></button>
  <button [shareButton]="'twitter'" [sbUrl]="url" [sbTags]="hashTags" md-menu-item><md-icon><i class="fa fa-twitter"></i></md-icon></button>
  <button [shareButton]="'googleplus'" [sbUrl]="url" [sbTags]="hashTags" md-menu-item><md-icon><i class="fa fa-google-plus"></i></md-icon></button>
  <button [shareButton]="'linkedin'" [sbUrl]="url" [sbTags]="hashTags" md-menu-item><md-icon><i class="fa fa-linkedin"></i></md-icon></button>
  <button [shareButton]="'facebook'" [sbUrl]="url" [sbTags]="hashTags" md-menu-item><md-icon><i class="fa fa-facebook"></i></md-icon></button>
</md-menu>
-->

<a class="float" id="menu-share">
  <i class="fa fa-share-alt my-float"></i>
</a>
<ul>
  <li><a (click)="openDialog()"><i class="fa fa-qrcode my-float"></i></a></li>
  <li><a [shareButton]="'twitter'" [sbUrl]="url" [sbTags]="hashTags"><i class="fa fa-twitter my-float"></i></a></li>
  <li><a [shareButton]="'googleplus'" [sbUrl]="url" [sbTags]="hashTags"><i class="fa fa-google-plus my-float"></i></a></li>
  <li><a [shareButton]="'linkedin'" [sbUrl]="url" [sbTags]="hashTags"><i class="fa fa-linkedin my-float"></i></a></li>
  <li><a [shareButton]="'facebook'" [sbUrl]="url" [sbTags]="hashTags"><i class="fa fa-facebook my-float"></i></a></li>
</ul>