<h1 id="description-title">{{publication.label}}</h1>

<!-- Logo -->

<h2>Abstract</h2>
<md-card class="info-text">
  <p>
    {{publication.abstract}}
  </p>
</md-card>

<div *ngIf="track !== {}">
  <h2>Track</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>perm_identity</md-icon>
      <a [routerLink]="['/publications-by-category/'+track.label+'/'+track.id]">{{track.label}}</a>
    </md-card>
  </div>
</div>

<div *ngIf="keywords && keywords.length > 0">
  <h2>Keywords</h2>
  <div class="action-links list-items">
    <md-card class="info-text keywords">
      <md-chip-list>
        <md-chip color="primary" selected="true" *ngFor="let keyword of keywords">{{keyword}}</md-chip>
      </md-chip-list>
    </md-card>
  </div>
</div>

<!-- Homepage -->

<h2 *ngIf="(authors | json) != '{}'">Authors</h2>
<div class="action-links list-items" *ngFor="let author of authors">
  <md-card>
    <md-icon md-list-avatar>perm_identity</md-icon>
    <a [routerLink]="['/person/'+author.label+'/'+author.id]">{{author.label}}</a>
  </md-card>
</div>

<h2 *ngIf="events.length > 0">Presented in</h2>
<div class="action-links list-items" *ngFor="let event of events">
  <md-card>
    <md-icon md-list-avatar>perm_identity</md-icon>
    <a [routerLink]="['/event/'+event.label+'/'+event.id]">{{event.label}}</a>
  </md-card>
</div>

<!-- Voting -->
<vote [typeEvent]="eventType" [idTrack]="trackId" [idPublication]="publicationId"></vote>

