<div class="component-wrapper">
  <h1 id="description-title">{{publication.label}}</h1>

  <!-- Logo -->

  <h2>Abstract</h2>
  <mat-card class="info-text">
    <p>
      {{publication.abstract}}
    </p>
  </mat-card>
  <mat-card *ngIf="publication.homepage" class="info-text">
    <a [href]="publication.homepage" target="_blank">Open in ACM Proceedings</a>
  </mat-card>

  <div *ngIf="keywords && keywords.length > 0">
    <h2>Keywords</h2>
    <div class="action-links list-items">
      <mat-card class="info-text keywords">
        <mat-chip-list>
          <mat-chip color="primary" selected="true" *ngFor="let keyword of keywords">
                    <span class="span-link" [routerLink]="['/publications-by-keyword/'+keyword.keywordEncoded]">
                    {{keyword.keyword}}
                    </span>
          </mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>

  <!-- Homepage -->

  <h2 *ngIf="(authors | json) != '{}'">Authors</h2>
  <div class="action-links list-items" *ngFor="let author of authors">
    <mat-card>
      <mat-icon mat-list-avatar>perm_identity</mat-icon>
      <a [routerLink]="['/person/'+encoder.encode(author.label)+'/'+author.id]">{{author.label}}</a>
    </mat-card>
  </div>

  <!--<h2 *ngIf="events.length > 0">Presented in</h2>
  <div class="action-links list-items" *ngFor="let event of events">
    <mat-card>
      <mat-icon mat-list-avatar>perm_identity</mat-icon>
      <a [routerLink]="['/event/'+event.label+'/'+event.id]">{{event.label}}</a>
    </mat-card>
  </div>-->

  <h2>Presented at</h2>
  <div *ngFor="let talk of events; index as i" class="action-links list-items multiple-lines multiple-links">
    <mat-card class="info-text">
      <div class="wrapper">
        <div class="other-links">
          <!-- usually redundant with paper title
            <span class="event-info"> {{talk.label}} </span>
          -->
          <span class="event-info"><mat-icon>schedule</mat-icon> {{talk.startsAt}} </span>
          <span class="event-info"><mat-icon>hourglass_empty</mat-icon> {{talk.duration}} </span>
          <span class="event-info"><mat-icon>update</mat-icon> {{talk.endsAt}} </span>

            <a *ngIf="talk.location" class="event-info" [routerLink]="['/events-by-location/'+talk.location]">
              <mat-icon>place</mat-icon>
              {{talk.location}}</a>
            <!-- we may use locationId in the future
            <a [routerLink]="['/location/'+talk.location+'/'+talk.locationId]"><mat-icon>place</mat-icon> {{talk.label}}</a>
            -->
            <a *ngIf="talk.session" class="event-info" [routerLink]="['/event/'+talk.session+'/'+talk.sessionId]">
              <mat-icon>event</mat-icon>
              {{talk.session}}</a>
              <br>
              <br>
          <button mat-raised-button color="primary" (click)="createICS(i)">Add to calendar</button>
        </div>
      </div>
    </mat-card>
  </div>

  <div *ngIf="tracks !== {}">
    <h2>Tracks</h2>
    <div class="action-links list-items" *ngFor="let track of tracks">
      <mat-card>
        <a [routerLink]="['/publications-by-category/'+track.label+'/'+track.id]">{{track.label}}</a>
      </mat-card>
    </div>
  </div>

  <!-- Voting -->
  <!--<vote *ngFor="let track of tracks" [typeEvent]="eventType" [idTrack]="track.id" [idPublication]="publicationId"></vote>-->
</div>
