<!-- <div class="component-wrapper fixed-height"> -->
<h1 id="description-title">{{title}}</h1>

<app-autocomplete name="search-bar" [seachFor]="'value'" [items]="keywords" [namespace]="'publications-by-keyword'"></app-autocomplete>

<div scrollLoader class="search-results" [listItems]="keywords" (updatePartialTable)="tabKeywords = $event">
    <div class="action-links" *ngFor="let keyword of keywords">
        <mat-card>
            <a [routerLink]="['/publications-by-keyword/'+keyword.valueEncoded]">{{keyword.value}}</a>
            <mat-icon>trending_flat</mat-icon>
        </mat-card>
    </div>
</div>
