 <h1 id="description-title">{{organization.label}}</h1>

<!-- Logo -->

<!-- Abstract -->

<!-- Homepage -->


<div *ngIf="(members | json) != '{}'">
    <h2 *ngIf="(members | json) != '{}'">Membre(s)</h2>
    <div class="action-links list-items" *ngFor="let member of members">
        <md-card>
            <md-icon md-list-avatar>perm_identity</md-icon>
            <a [routerLink]="['/person/'+encoder.encode(member.name)+'/'+member.id]">{{member.name}}</a>
        </md-card>
    </div>
</div>
<!-- <appointment [membersOrg]="members" [organization]="organization"></appointment> -->


