<div class="resend-wrapper">
  <md-card class="inscription-card">
    <div class="header">
      <h4>Resend an activation email</h4>
    </div>
    <div class="resend-form">
      
      <form>
        <md-input-container>
          <input #email mdInput type="email" placeholder="Email">
        </md-input-container>

        <div class="resend-footer">
          <button md-button (click)="resend(email.value)" id="resend-btn">Submit</button>
        </div>

        </form>
    </div>
  </md-card>
  <div id="toast"></div>
</div>