<div class="component-wrapper">
  <h1 id="description-title"> {{title}} </h1>
  <h2>Dataset</h2>
  <mat-card class="info-text">
    <button id="dataset-load" mat-raised-button color="primary" (click)="loadDataset()" [disabled]="isLoading()">Load
      dataset
    </button>
  </mat-card>

  <h2>Font size</h2>
  <mat-card class="info-text">
    <button mat-icon-button class="zoom-icon" color="primary" (click)="decresaseFontSize()">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <span>{{fontSize + "%"}}</span>
    <button mat-icon-button class="zoom-icon" color="primary" (click)="increaseFontSize()">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </mat-card>

  <h2>Fullscreen</h2>
  <mat-card class="info-text">
    <mat-slide-toggle
         color="primary"
         [checked]="fullScreen"
         (change)="toggleFullScreen()">
      Fullscreen Mode
    </mat-slide-toggle>
  </mat-card>


  <h2>Theme</h2>
  <mat-card class="info-text">
    <mat-slide-toggle
         color="primary"
         [checked]="darkTheme"
         (change)="toggleDarkTheme()">
      Dark Theme
    </mat-slide-toggle>

    <mat-slide-toggle
         color="primary"
         [checked]="material"
         (change)="toggleMaterial()">
      Material
    </mat-slide-toggle>
  </mat-card>
</div>