<h1 id="description-title"> {{title}} </h1>

<!--<div [hidden]="!isLoading">-->
<!--<button md-raised-button color="primary" disabled>Load dataset DISABLED</button>-->
<!--</div>-->

<!--<div [hidden]="isLoading">-->

<h2>Dataset</h2>
<md-card class="info-text">
  <button md-raised-button color="primary" (click)="loadDataset()">Load dataset</button>
  <button md-raised-button color="primary" (click)="resetDataset()">Reset dataset</button>
</md-card>

<h2>Font size</h2>
<md-card class="info-text">
  <button md-icon-button color="primary" (click)="decresaseFontSize()">
    <md-icon>zoom_out</md-icon>
  </button>
  <span>{{fontSize + "%"}}</span>
  <button md-icon-button color="primary" (click)="increaseFontSize()">
    <md-icon>zoom_in</md-icon>
  </button>
</md-card>

<h2>Fullscreen</h2>
<md-card class="info-text">
  <md-slide-toggle
       class="example-margin"
       color="primary"
       [checked]="check"
       (change)="toggleFullScreen()">
    Fullscreen Mode
  </md-slide-toggle>
</md-card>
