<h1 id="description-title">
    <span *ngIf="event.type && event.type.length > 0">{{event.type}} : </span>{{event.label}}
</h1>

<h2>Schedule</h2>
<div class="action-links list-items multiple-lines">
    <mat-card class="info-text">
        <div class="wrapper">
            <div class="other-links">
                <span class="event-info"><mat-icon>schedule</mat-icon> {{event.startsAt}} </span>
                <span class="event-info"><mat-icon>hourglass_empty</mat-icon> {{event.duration}} </span>
                <span class="event-info"><mat-icon>update</mat-icon> {{event.endsAt}} </span>
            </div>
        </div>
    </mat-card>
</div>

<div *ngIf="event.location && event.location.length > 0">
    <h2>Location</h2>
    <div class="action-links list-items">
        <mat-card>
            <mat-icon mat-list-avatar>access_time</mat-icon>
            <a [routerLink]="['/events-by-location/'+event.location]">{{event.location}}</a>
        </mat-card>
    </div>
</div>

<div *ngIf="subEventOf && subEventOf.length > 0">
    <h2>Sub events</h2>
    <div class="action-links list-items" *ngFor="let subEvent of subEventOf">
        <mat-card>
            <mat-icon mat-list-avatar>place</mat-icon>
            <a [routerLink]="[subEvent.urlToSearch + subEvent.label+'/'+subEvent.id]">{{subEvent.label}}</a>
        </mat-card>
    </div>
</div>
