<div class="changePassword-wrapper">
  <md-card class="inscription-card">
    <div class="header">
      <h4>Forgot password</h4>
    </div>
    <div class="changePassword-form">
      
      <form>
        <md-input-container>
          <input #currentPassword mdInput type="currentPassword" placeholder="Current Password">
        </md-input-container>

        <md-input-container>
          <input #newPassword mdInput type="newPassword" placeholder="New Password">
        </md-input-container>

        <md-input-container>
          <input #confirmPassword mdInput type="confirmPassword" placeholder="Confirm Password">
        </md-input-container>

        <div class="changePassword-footer">
          <button md-button (click)="changePassword(currentPassword.value, newPassword.value)">Submit</button>
        </div>

        </form>
    </div>
  </md-card>
</div>