<div class="changePassword-wrapper">
  <mat-card class="inscription-card">
    <div class="header">
      <h4>Change password</h4>
    </div>
    <div class="changePassword-form">
      
      <form>
        <mat-form-field>
          <input #currentPassword matInput type="password" placeholder="Current Password">
        </mat-form-field>

        <mat-form-field>
          <input #newPassword matInput type="password" placeholder="New Password">
        </mat-form-field>

        The password must have at least 8 characters.

        <mat-form-field>
          <input #confirmPassword matInput type="password" placeholder="Confirm Password">
        </mat-form-field>

        <div class="changePassword-footer">
          <button mat-button (click)="changePassword(currentPassword.value, newPassword.value, confirmPassword.value)">Submit</button>
        </div>

        </form>
    </div>
  </mat-card>
</div>