<h1 id="description-title">
  {{event.type}} : {{event.label}}
</h1>

<div *ngIf="event.description !== null">
  <h2>Description</h2>
  <md-card class="info-text">
    <p>{{event.description}}</p>
  </md-card>
</div>


<h2>Event informations</h2>
<div class="action-links list-items multiple-lines">
  <md-card class="info-text">
    <div class="wrapper">
      <div class="other-links">
        <span class="event-info"><md-icon>schedule</md-icon> {{event.startsAt}} </span>
        <span class="event-info"><md-icon>access_time</md-icon> {{event.endsAt}} </span>
        <span class="event-info"><md-icon>hourglass_empty</md-icon> {{event.duration}} </span>
      </div>
    </div>
  </md-card>
</div>

<div *ngIf="(locations | json) != '{}'">
  <h2>Location</h2>
  <div class="action-links list-items" *ngFor="let location of locations | keys">
    <md-card>
      <md-icon md-list-avatar>place</md-icon>
      <a [routerLink]="['/events-by-location/'+location.value.name+'/'+location.value.id]">{{location.value.name}}</a>
    </md-card>
  </div>

</div>

<div *ngIf="event && event.publications && event.publications.length > 0">
  <h2>Publications</h2>
  <div class="action-links list-items" *ngFor="let publication of event.publications">
    <md-card>
      <md-icon md-list-avatar>place</md-icon>
      <a [routerLink]="['/publication/'+publication.label+'/'+publication.id]">{{publication.label}}</a>
    </md-card>
  </div>
</div>

<div *ngIf="event && event.tracks && event.tracks.length > 0">
  <h2>Tracks</h2>
  <div class="action-links list-items" *ngFor="let track of event.tracks">
    <md-card>
      <md-icon md-list-avatar>place</md-icon>
      <a [routerLink]="['/event-by-category/'+track.label+'/'+track.id]">{{track.label}}</a>
    </md-card>
  </div>
</div>

<div *ngIf="partof != null">
  <h2>Part of</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>account_balance</md-icon>
      <a [routerLink]="['/event/'+partof.name+'/'+partof.id]">{{partof.name}}</a>
    </md-card>
  </div>
</div>

<!--<div *ngIf="(contents | json) != '{}'">-->
<!--<h2>Contents</h2>-->
<!--</div>-->