@import "../../globals";

.week-schedule {
  padding: 0;

  .element-date-header {
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: $font-color-dark;
    padding: 24px;
    display: block;
    border: none;
    outline: none;
    z-index: 2;
    border-bottom: 1px solid rgb(33, 33, 33);
    cursor: pointer;
    box-shadow: none;

    &::before {
      bottom: 0;
      box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
      content: '';
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    mat-icon.show-event {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%) rotate(90deg);
      z-index: 1;
      font-size: 24px;
      height: auto;
      width: auto;
      transition: transform 0.4s cubic-bezier(.25, .8, .25, 1);

      &.is-visible {
        transform: translate(0, -50%) rotate(-90deg);
      }
    }
  }

  .element-time-header {
    background: $font-color-dark;
    color: $font-color-light;
    padding: 10px;
    text-align: center;
  }

  .single-event {
    margin: 10px 0;
    text-align: center;
    padding: 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 24px;
      text-decoration: none;
      color: $font-color-dark;

      mat-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        font-size: 42px;
        height: auto;
        width: auto;
      }

      h3 {
        font-weight: normal;
      }

      .event-name {
        font-weight: bold;
        color: $primary-color;
      }

      .event-duration {
        font-weight: bold;
      }
    }
  }
}