<h1 id="description-title">{{labelTrack}}</h1>

<div class='action-links track-switch'>
    <a [routerLink]="['/event-by-category/'+labelTrack+'/'+trackId]">Sessions</a> | Publications
</div><div class='action-links'>

<app-autocomplete [seachFor]="'label'" [items]="publications" [namespace]="'publication'"></app-autocomplete>

<div class="action-links list-items" *ngFor="let publication of publications">
  <mat-card>
    <mat-icon mat-list-avatar>description</mat-icon>
    <a [routerLink]="['/publication/'+publication.label+'/'+publication.id]">{{publication.label}}</a>
  </mat-card>
</div>
