<div class="login-wrapper">
  <md-card class="inscription-card">
    <div class="header">
      <h4>Sign In</h4>
    </div>
    <div class="inscription-form">
      <h5> Or login with your account </h5>
      <form>
        <md-input-container>
          <input #email mdInput type="email" placeholder="Email">
        </md-input-container>

        <md-input-container>
          <input #password mdInput type="password" placeholder="Password">
        </md-input-container>

        <div class="inscription-footer">
          <button md-button color="primary" (click)="login(email.value, password.value)">Login</button>
          <div class="sign-up">
            <span>Don’t have an account yet? </span>
            <a href=""> Sign up </a>
          </div>
        </div>
      </form>
    </div>
  </md-card>
</div>
