<div class="login-wrapper">
  <md-card class="inscription-card">
    <div class="header">
      <h4>Sign In</h4>
    </div>
    <div class="inscription-form">
      <br>
      <form>
        <md-input-container>
          <input #email mdInput type="email" placeholder="Email">
        </md-input-container>

        <md-input-container>
          <input #password mdInput type="password" placeholder="Password">
        </md-input-container>

        <div class="inscription-footer">
          <button md-button (click)="login(email.value, password.value)"  id = "login-btn">Login</button>
          <div class="sign-up">
            <br>
            <p>Don’t have an account yet ? 
            <a [routerLink]="['/signup/']">Sign up</a> </p>
            <p>Forgot your password ? <a [routerLink]="['/forgotPassword/']" id="link" >Click here</a> </p>
            <p>Didn't receive an activation email ? 
            <a [routerLink]="['/resend/']">Resend activation mail</a> </p>
          </div>
        </div>
        <div class="btn-social-network">
          <h1>OR</h1>
          <a href="" class="social-button facebook-btn"> <span>Log in with Facebook</span></a>
          <a href="" class="social-button twitter-btn"> <span>Log in with Twitter</span></a>
          <a href="" class="social-button google-btn"> <span>Log in with Google</span></a>
          <a href="" class="social-button linkedin-btn"> <span>Log in with LinkedIn</span></a>
        </div>
      </form>
    </div>
  </md-card>
  <div id="toast"></div>
</div>
