@import "../../globals";

.login-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  min-width: 280px;
}

.inscription-card {
  min-width: 280px;

  .header {
    color: white;
    background: linear-gradient(#e58307, #F36B12);
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    border-radius: 3px;

    h4 {
      text-align: center;
    }

    .social {
      margin-top: 15px;
      text-align: center;

      a {
        color: #FFFFFF;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 18px;
        padding: 10px 10px;
        line-height: 1em;
        text-decoration: none;
      } 
    }
  }

  .inscription-form {
    margin: 20px 0 0;
    padding: 0 10px;

    h5 {
      text-align: center;
      color: $font-color-dark;
      font-weight: normal;
    }

    md-input-container {
      width: 100%;
    }

    .inscription-footer {
      text-align: center;
      padding: 10px 0;

      button {
        background: linear-gradient(#e58307, #F36B12);
        font-size: 20px;
        color: white;
      }

      .sign-up {
        margin-top: 5px;
        p {
          text-align: center;
        }
        a {
          font-weight: bold;
        }    
      }
    }
  }
}


.btn-social-network {
  //background: #fff;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
  border-radius: 3px;
  margin: 10px auto;
  //outline: rgb(255, 255, 255) none 0px;
  //padding-left: 10%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  white-space: nowrap;
    min-width: 300px;
}

a.social-button:hover, a.social-button:focus {
  text-decoration: none;
}

.facebook-btn {
  background: url('../../../img/facebook.svg') no-repeat scroll 5px 0px / 25px 35px padding-box border-box;
  border: 1px solid rgb(60, 90, 154);
}

.facebook-btn:hover {
  border-color: rgb(60, 90, 154);
  background: rgb(60, 90, 154) url('../../../img/facebook-white.svg') no-repeat scroll 5px 0px / 25px 35px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

.facebook-btn span {
  box-sizing: border-box;
  color: rgb(60, 90, 154);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  //border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.facebook-btn:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.google-btn {
  background: url('../../../img/google-plus.png') no-repeat scroll 5px 0px / 35px 35px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

.google-btn:hover {
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('../../../img/google-plus-white.png') no-repeat scroll 5px 0px / 35px 35px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

.google-btn span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.google-btn:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.twitter-btn {
  background: url('../../../img/twitter.png') no-repeat scroll 5px 1px / 35px 35px padding-box border-box;
  border: 1px solid rgb(85, 172, 238);
}

.twitter-btn:hover {
  border-color: rgb(85, 172, 238);
  background: rgb(85, 172, 238) url('../../../img/twitter-white.png') no-repeat scroll 5px 1px / 35px 35px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

.twitter-btn span {
  box-sizing: border-box;
  color: rgb(85, 172, 238);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.twitter-btn:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.linkedin-btn {
  background: url('../../../img/linkedin.svg') no-repeat scroll 13px 0px / 20px 35px padding-box border-box;
  border: 1px solid rgb(0, 119, 181);
}

.linkedin-btn:hover {
  border-color: rgb(0, 119, 181);
  background: rgb(0, 119, 181) url('../../../img/linkedin-white.svg') no-repeat scroll 13px 0px / 20px 35px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

.linkedin-btn span {
  box-sizing: border-box;
  color: rgb(0, 119, 181);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(0, 119, 181);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.linkedin-btn:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#toast {
  visibility: hidden;
  background-color: #B71C1C;
  opacity:0.95;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  font-size: 17px;
  min-width: 250px;
  width: 100%;
}

#toast.show {
  visibility: visible;

}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}