<div class="login-wrapper">
  <md-card class="inscription-card">
    <div class="header">
      <h4>Sign In</h4>
    </div>
    <div class="inscription-form">
      
      <form>
        <md-input-container>
          <input #email mdInput type="email" placeholder="Email">
        </md-input-container>

        <md-input-container>
          <input #password mdInput type="password" placeholder="Password">
        </md-input-container>

        <div class="inscription-footer">
          <button md-button color="primary" (click)="login(email.value, password.value)">Login</button>
          <div class="sign-up">
            <p>Don’t have an account yet? </p>
            <a [routerLink]="['/signup/']">Sign up</a>
          </div>
          <!--
          <div class="btn-social-network">
            <h1>OR</h1>
            <a href="" class="social-button facebook-btn"> <span>Log in with Facebook</span></a>
            <a href="" class="social-button twitter-btn"> <span>Log in with Twitter</span></a>
            <a href="" class="social-button google-btn"> <span>Log in with Google</span></a>
            <a href="" class="social-button linkedin-btn"> <span>Log in with LinkedIn</span></a>
          </div>
          -->
        </div>
      </form>
    </div>
  </md-card>
</div>
