<div class="component-wrapper">
  <h1 id="description-title">{{title}}</h1>

  <app-autocomplete [seachFor]="'label'" [items]="publications" [namespace]="'publication'"></app-autocomplete>

  <div scrollLoader class="search-results" [listItems]="publications" (updatePartialTable)="tabPubli = $event">
    <div class="action-links list-items" *ngFor="let publication of tabPubli">
      <md-card>
        <md-icon md-list-avatar>description</md-icon>
        <a [routerLink]="['/publication/'+publication.label+'/'+publication.id]" (click)="sendPublication(publication.id)">{{publication.label}}</a>
      </md-card>
    </div>
  </div>
</div>