@import "../../globals";

.profil {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 200px;
  max-width: 300px;
  margin: 100px auto 0;

  .avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 10px 30px -12px, rgba(0, 0, 0, 0.12) 0px 4px 25px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    transform: translate(0, -50%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -65%);
  }

  .info {
    margin: 80px 0 5px 0;

    div:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .name {
      text-align: center;
      font-weight: bold;
    }

    .link-info {
      a {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        color: $font-color-dark;
        font-weight: normal;

        md-icon {
          margin-right: 20px;
          line-height: 0;
        }
      }

      &.twitter {
        md-icon i {
          color: #1da1f2 !important;
        }
      }

      &.facebook {
        md-icon i {
          color: #3b5998 !important;
        }
      }

      &.google-plus {
        md-icon i {
          color: #d34836 !important;
        }
      }

      &.linkedin {
        md-icon i {
          color: #0077B5 !important;
        }
      }
    }
  }

}

.nothing {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px auto 0;
  font-weight: bold;
}