@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();


$mat-custom: (
        50: #FBE9E7,
        100: #FFCCBC,
        200: #FFAB91,
        300: #FF8A65,
        400: #FF7043,
        500: #F36B12,
        600: #F36B12,
        700: #F36B12,
        800: #F36B12,
        900: #F36B12,
        A100: #F36B12,
        A200: #F36B12,
        A400: #F36B12,
        A700: #F36B12,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $black-87-opacity,
                500: white,
                600: white,
                700: white,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: white,
                A400: white,
                A700: white,
        )
);

// Define a theme.
$primary: mat-palette($mat-custom);
$accent: mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
