<div class="component-wrapper">
  <h2>Description</h2>


  <md-card class="info-text">
    <p><strong>The Web Conference 2018</strong> takes place from April 23rd, 2018 to 27th​ in Lyon, France.</p>
    <p>The Web Conference 2018 is a yearly international conference on the topic of the future directions of the World Wide Web. 
      The Conference aims to provide the world with a premier forum for discussion and debate about the evolution of the Web, the standardization of its associated technologies, and the impact of those technologies on society and culture.
      The conference brings together researchers, developers, users and commercial ventures — indeed all those who are passionate about the Web and what it has to offer.
    </p>
  </md-card>

  <h2>Homepage</h2>

  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>link</md-icon>
      <a href='https://www2018.thewebconf.org/' target="_blank">The Web Conference 2018</a>
    </md-card>
  </div>

  <div class="action-links list-items">
    <md-card class="twitter">
      <a id="twitter" class="twitter-timeline" data-dnt="true" data-theme="light" data-link-color="#8147FF"
         href="https://twitter.com/TheWebConf">Tweets by TheWebConf</a>
    </md-card>
  </div>
</div>


