<h1 id="description-title">{{day}}</h1>
<div class="action-links list-items multiple-lines" *ngFor="let schedule of schedules">
  <mat-card>
    <a class="wrapper" [routerLink]="'/event/'+encoder.encode(schedule.label)+'/'+ schedule.id">
      <mat-icon>event</mat-icon>
      <span ><b *ngIf="schedule.type && schedule.type.length > 0">{{schedule.type}} :</b>{{schedule.label}}</span>
      <div class="other-links">
        <span class="event-info"><mat-icon>schedule</mat-icon> {{schedule.dateVal}} </span>
        <span class="event-info"><mat-icon mat-list-avatar>place</mat-icon> {{schedule.siteLabel}} </span>
      </div>
    </a>
  </mat-card>
</div>
