<h1 id="description-title">{{day}}</h1>
<div class="action-links list-items multiple-lines" *ngFor="let schedule of schedules">
  <md-card>
    <a class="wrapper" [routerLink]="'/event/'+encoder.encode(schedule.label)+'/'+ schedule.id">
      <md-icon>event</md-icon>
      <span ><b *ngIf="schedule.type && schedule.type.length > 0">{{schedule.type}} :</b>{{schedule.label}}</span>
      <div class="other-links">
        <span class="event-info"><md-icon>schedule</md-icon> {{schedule.dateVal}} </span>
        <span class="event-info"><md-icon md-list-avatar>place</md-icon> {{schedule.siteLabel}} </span>
      </div>
    </a>
  </md-card>
</div>
