<div class="component-wrapper fixed-height">
  <h1 id="description-title">{{title}}</h1>

  <app-autocomplete name="search-bar" [seachFor]="'name'" [items]="persons" [namespace]="'person'"></app-autocomplete>

  <div scrollLoader class="search-results" [listItems]="persons" (updatePartialTable)="tabPersons = $event">
    <div class="action-links list-items" *ngFor="let person of tabPersons">
      <mat-card>
        <mat-icon mat-list-avatar>perm_identity</mat-icon>
        <a [routerLink]="['/person/'+encoder.encode(person.name)+'/'+person.id]">{{person.name}}</a>
      </mat-card>
    </div>
  </div>
</div>
