@import "../../globals";

.sympozer-footer {
  margin: 30px 0 0 0;
  position: relative;
  text-align: center;
  box-sizing: border-box;

  div {
    top: 50%;
    transform: translateY(-50%);
  }
  img {
    width: 100px;
  }
}

p, li {
  a {
    color: $primary-color !important;
    text-decoration: none;
    font-weight: 900;

    &:hover {
      text-decoration: underline;
    }
  }
}