<h1> About</h1>
<h2>About the ESWC2016 app</h2>

<p>This app is available on the Web and on the App & Play stores.</p>

<p>Its data structure follows the Semantic Web Conference Ontology and presents persons, organizations, publications and events of the conference. The application itself allows browsing these data. It is also a client-side mashup that enriches them using other data sources (Twitter, DBLP) or search engines (Google, DuckDuckgo).</p>
<p>
You can use it offline to browse the conference dataset. You will need an Internet connection for viewing data from online sources, as well as to vote for your preferred poster and demo.
</p>
<p>
Periodically (but not too often), you can update the conference dataset in the settings panel.
</p>

<h2>Issues</h2>


<p>Do not hesitate to report issues on the following GitHub repositories:</p>
<ul>
<li>problems with the data (e.g. incorrect/missing information)</li>
<li>problems with the app (e.g. strange behaviors, typos in the titles, usability issues, suggestions of improvement...)</li>
</ul>

<h2>Contributors</h2>
<ul class="link">

	<li><a [routerLink]="['/person/Andrea%20Giovanni%20Nuzzolese/http%3A%2F%2Fdata.semanticweb.org%2Fperson%2Fandrea-giovanni-nuzzolese']">Andrea Giovanni Nuzzolese</a></li>
	<li><a [routerLink]="['/person/Anna%20Lisa%20Gentile/http%3A%2F%2Fdata.semanticweb.org%2Fperson%2Fanna-lisa-gentile']">Anna Lisa Gentile</a></li>
	<li><a [routerLink]="['/person/Lionel%20Medini/http%3A%2F%2Fdata.semanticweb.org%2Fperson%2Flionel-medini']">Lionel Médini</a></li>
</ul>

<h2>From an original idea by</h2>
<a href="http://sympozer.liris.cnrs.fr/">
<img src="../img/Sympozer_logo.png" />
</a>