<div class="component-wrapper">
  <h1 id="description-title"> About</h1>
  <h2>About the ESWC2017 app</h2>

  <md-card>

    <p>Its data structure follows the newly published ScholarlyData Ontology, formerly Semantic Web Conference Ontology,
      that describes persons, organizations, publications and events of the conference. The application allows browsing
      these data. It is also a client-side mashup that can enrich them using other data sources (DBLP, ad hoc endpoint) or
      search engines (Google, DuckDuckgo).</p>

    <p>You can use it offline to browse the conference dataset. You will need an Internet connection for viewing data
      from online sources, as well as to vote for your preferred poster and demo.</p>

    <p>Periodically (but not too often), you can update the conference dataset in the Tools menu item.</p>

	<p>You can create an account on our server to enrich your data in the app, as well as to be able to participate in the vote.</p>

    <h3>How it works</h3>

    <p>In 2017, the app architecture has been completely refactored:</p>
    <ul>
		<li>The conference dataset now follows the <a href="http://www.scholarlydata.org/">ScholarlyData</a> ontology and has been issued using <a href="https://github.com/anuzzolese/cLODg2">cLODg</a> (conference Linked Open Data generator) V2.</li>
		<li>Its core engine is based on RDF data (instead of JSON), internally served using the <a href="https://github.com/linkeddata/rdflib.js/">rdflib.js</a> library. Feel free to open the console and watch the app sending SPARQL requests to the store.</li>
		<li>It fully runs on the client side, and relies on the <a href="https://angular.io/">Angular 2</a> JavaScript framework, using Web components and other advances. The design layer uses <a href="https://material.angular.io/">Angular Material</a>.</li>
    </ul>

    <h3>Disclaimer</h3>

    <p>All extra information added to your account (except your email address) will be publicly available on the web.</p>

  </md-card>

  <h2>Issues</h2>

  <md-card>
    <p>Do not hesitate to report issues on the following GitHub repositories:</p>
    <ul>
      <li><a href="https://github.com/sympozer/datasets/issues"> problems with the data</a> (e.g. incorrect/missing
        information)
      </li>
      <li><a href="https://github.com/sympozer/sympozer-client-seed-v2/issues">problems with the app</a> (e.g. strange
        behaviors, typos in the titles, usability issues, suggestions for
        improvement...)
      </li>
    </ul>
  </md-card>

  <h2>Contributors</h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a [routerLink]="['/person/Luigi Asprino/https%3A%2F%2Fw3id.org%2Fscholarlydata%2Fperson%2Fluigi-asprino']">Luigi Asprino</a>
    </md-card>
    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a [routerLink]="['/person/Lionel Médini/https%3A%2F%2Fw3id.org%2Fscholarlydata%2Fperson%2Flionel-medini']">Lionel
        Médini</a>
    </md-card>
  </div>

  <h2>Core developers </h2>
  <div class="action-links list-items">
    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="https://www.linkedin.com/in/fanuel-abebe-8bb162113/">Fanuel Abebe</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="https://www.linkedin.com/in/mahmoud-ayssami-450161113/">Mahmoud Ayssami</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="https://www.linkedin.com/in/massinissa-bouneffa/">Massinissa Bouneffa</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="https://www.linkedin.com/in/pierre-marsot-85006793/">Pierre Marsot</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="">Ha Le Tuan</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="">Antoine Martin</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="">Mathieu Palley</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="">Nikolaos Papoutsis</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="">Christophe Pinelli</a>
    </md-card>

    <md-card>
      <md-icon md-list-avatar>sentiment_very_satisfied</md-icon>
      <a href="">Nguyen The Hoai Duy</a>
    </md-card>
  </div>

  <div class="sympozer-footer">
    <div>From an original idea by</div>
    <a href="http://sympozer.liris.cnrs.fr/">
      <img src="./img/Sympozer_logo.png"/>
    </a>
  </div>
</div>