<nav class="menu">
  <ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <div class="link">
          <md-icon>home</md-icon>
          Home
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/schedule']" routerLinkActive="active">
        <div class="link">
          <md-icon>date_range</md-icon>
          Schedule
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/search/person']" routerLinkActive="active">
        <div class="link">
          <md-icon>person</md-icon>
          Persons
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/search/publication']" routerLinkActive="active">
        <div class="link">
          <md-icon>description</md-icon>
          Publications
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/search/organization']" routerLinkActive="active">
        <div class="link">
          <md-icon>account_balance</md-icon>
          Organizations
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/about']" routerLinkActive="active">
        <div class="link">
          <md-icon>info</md-icon>
          About
        </div>
      </a>
    </li>
  </ul>
</nav>