@import "../../globals";

.menu {
  ul {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;

    li {
      display: block;

      a {
        text-decoration: none;
        font-size: 1.05em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 1.5em;
        display: block;
        text-align: center;

        &:hover, &.active {
          .link {
            outline: none;
            color: $primary-color;
          }
        }

        &:focus {
          outline: none;
        }

        &.active {
          .link {
            &::before {
              transform: scale3d(1, 1, 1);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 0.3s;
            }
          }
        }

        .link {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          padding: 0.75em 0;
          color: #b5b5b5;
          transition: color 0.3s;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          md-icon {
            margin-right: 5px;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: $primary-color;
            transform: scale3d(0, 1, 1);
            transition: transform 0.1s;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    display: none;
  }
}