<nav class="menu">
  <ul>
    <!-- <li>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <div class="link">
          <mat-icon>home</mat-icon>
          Home
        </div>
      </a>
    </li> -->
    <li class="menu-item">
      <a [routerLink]="['/schedule']" routerLinkActive="active">
        <div class="link">
          <mat-icon>date_range</mat-icon>
          Schedule
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/search/person']" routerLinkActive="active">
        <div class="link">
          <mat-icon>person</mat-icon>
          Persons
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/search/publication']" routerLinkActive="active">
        <div class="link">
          <mat-icon>description</mat-icon>
          Publications
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a>
        <div class="link">
          <md-icon>how_to_vote</md-icon>
          Votes
        </div>
      </a>
      <ul class="sub-menu">
        <li class="sub-menu-item">
          <a [routerLink]="['/search/vote']" routerLinkActive="active">
            <div class="link">
              Search Elections
            </div>
          </a>
        </li>
        <li class="sub-menu-item">
          <a [routerLink]="['/vote/createElection']" routerLinkActive="active">
            <div class="link">
              Create Election
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/tools']" routerLinkActive="active">
        <div class="link">
          <mat-icon>build</mat-icon>
          Tools
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/about']" routerLinkActive="active">
        <div class="link">
          <mat-icon>info</mat-icon>
          About
        </div>
      </a>
    </li>
  </ul>
</nav>