@import "../../globals";

.menu {
  ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;

    @media screen and (max-width: 1181px) {
      margin-bottom: 20px;
    }

    li {
      display: block;

      a {
        text-decoration: none;
        font-size: 1.05em;
        font-weight: bold;
        cursor: pointer;
        margin: 0 1.5em;
        display: block;
        text-align: center;

        &:hover, &.active {
          .link {
            outline: none;
            color: $primary-color;
          }
        }

        &:focus {
          outline: none;
        }

        &.active {
          .link {
            &::before {
              transform: scale3d(1, 1, 1);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 0.3s;
            }
          }
        }

        .link {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          padding: 0.75em 0;
          color: #b5b5b5;
          transition: color 0.3s;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          mat-icon {
            margin-right: 5px;
          }

          &::before {
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: $primary-color;
            transform: scale3d(0, 1, 1);
            transition: transform 0.1s;
          }
        }
      }
    }

    .sub-menu {
      position: absolute; /* Evite que la dimension du conteneur ne change quand la sous-liste est affichée */
      white-space: nowrap; /* Pour que le texte ne revienne pas à la ligne */
      left: 0; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur */
      top: 2em; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur */
      white-space: nowrap; /* Pour que le texte ne revienne pas à la ligne */
      background: white; /* FIX IE7 : évite que la sous-liste ne disparaisse au moment où le curseur arrive au-dessus */
      margin-top: -2px; /* Pour que le sous-menu recouvre son parent, facilitant le passage de la souris de l’un à l’autre */
  }
  /* Réduit cette boîte à un carré d’1px de côté, dont le texte est déporté loin à gauche */
  .sub-menu-item a {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
      float: left; /* Fix WebKit : force la largeur des sous-navigations à s’adapter automatiquement, pour pouvoir l’atteindre à la souris */
  }
  .sub-menu-item a:focus, .sub-menu-item a {
      position: static;
      left: auto;
      width: auto;
      height: auto;
      overflow: visible;
  }
  @media screen and (max-width: 480px) {
  
  .sub-menu {
          position: static; /* Replace la sous-liste dans le flux du document */
          white-space: normal /* Permet au texte de revenir à la ligne normalement */
      }
  .sub-menu-item a {
          display: block; /* Pour que la ligne entière soit cliquable */
          width: auto; /* Annule width: 1px */
          height: auto; /* Annule height: 1px */
          position: static; /* Annule position: absolute */
          padding-left: 1em; /* Annule le padding vertical et en rajoute à gauche pour indiquer le sous-niveau */
          overflow: visible; /* Annule overflow: hidden */
          float: none;
      }
  }
  }

  @media screen and (max-width: 1180px) {
    display: none;
  }
}