<ul class="menu">
	<li><a md-button [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
	<li><a md-button [routerLink]="['/schedule']" routerLinkActive="active">Schedule</a></li>
	<li><a md-button [routerLink]="['/search/person']" routerLinkActive="active">Persons</a></li>
	<li><a md-button [routerLink]="['/search/publication']" routerLinkActive="active">Publications</a></li>
	<li><a md-button [routerLink]="['/search/organization']" routerLinkActive="active">Organizations</a></li>
	<li><a md-button [routerLink]="['/about']" routerLinkActive="active">About</a></li>
</ul>