<div class="component-wrapper fixed-height">
  <h1 id="description-title">{{title}}</h1>
<!-- 
  <app-autocomplete name="search-bar" [seachFor]="'id'" ></app-autocomplete>

  <div scrollLoader class="search-results">
    <div class="action-links list-items">
      <md-card>
        <md-icon md-list-avatar>perm_identity</md-icon>
        <a [routerLink]="['/vote/'+vote.id]">{{vote.id}}</a>
      </md-card>
    </div>
  </div> -->
  <div class="search-form">
    <form>
      <md-input-container>
        <input #id mdInput type="id" placeholder="id">
      </md-input-container>

      <div class="search-footer">
        <button md-button (click)="showElectionById(id.value)">Show</button>
      </div>
    </form>
  </div>
</div>
