<header>
  <a class="logo" [routerLink]="['/home/']">
    <img src="./img/logo_eswc2017.png">
  </a>
  <menu></menu>
  <div class="page-title">
    <p id="page-title-p">
    </p>
  </div>
  <div class="menu-btn">

    <button md-icon-button [mdMenuTriggerFor]="menu" class="avatar-open">
      <div class="avatar-wrapper">
        <div>
          <img class="avatar" src="./img/avatar.jpg"/>
        </div>
        <md-icon>arrow_drop_down</md-icon>
      </div>
    </button>

    <md-menu [overlapTrigger]="false" xPosition="before" yPosition="below" #menu="mdMenu" class="account-menu">
      <button md-menu-item disabled>
        <md-icon>account_circle</md-icon>
        <span>Guest</span>
      </button>
      <button [routerLink]="['/login/']" md-menu-item>
        <md-icon class="fa-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></md-icon>
        <span>Login</span>
      </button>
    </md-menu>

    <button md-icon-button class="menu-button-open" (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </div>
</header>