<header>
    <a class="logo" [routerLink]="['/home/']">
        <img src="./img/TheWebConference2018-logo.png">
    </a>
    <menu></menu>
    <div class="page-title">
        <!-- <p id="page-title-p">
        </p> -->
    </div>
    <div class="menu-btn">

        <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar-open">
            <div class="avatar-wrapper">
                <div *ngIf="!hasLogged || (hasLogged && avatar == null)">
                    <img class="avatar" src="./img/placeholder.jpg"/>
                </div>
                <div *ngIf="hasLogged && avatar != null">
                    <img class="avatar" src={{avatar}}/>
                </div>
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </button>

        <mat-menu [overlapTrigger]="false" xPosition="before" yPosition="below" #menu="matMenu" class="account-menu">
            <div *ngIf="!hasLogged">
                <button mat-menu-item disabled>
                    <mat-icon>account_circle</mat-icon>
                    <span>Guest</span>
                </button>
                <button [routerLink]="['/login/']" mat-menu-item>
                    <mat-icon class="fa-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></mat-icon>
                    <span>Login</span>
                </button>
                <button [routerLink]="['/signup/']" mat-menu-item>
                    <mat-icon class="fa-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></mat-icon>
                    <span>Sign up</span>
                </button>
            </div>
            <div *ngIf="hasLogged">
                <button [routerLink]="['/profile/']" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>{{username}}</span>
                </button>
                <button (click)="logout()" mat-menu-item>
                    <mat-icon class="fa-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></mat-icon>
                    <span>Logout</span>
                </button>
            </div>
        </mat-menu>

        <button mat-icon-button class="menu-button-open" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</header>