@import "../../_globals";

header {
  display: flex;
  width: 100%;
  min-height: 75px;
  height: auto;
  background: $header-background;
  box-shadow: $md-whiteframe-glow;
  z-index: 99;
  position: relative;

  .logo {
    float: left;
    width: auto;
    position: relative;
    padding-left: 10px;

    img {
      width: 80px;
      height: 65px;
      position: relative;
      top: 0;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .menu-btn {
    float: right;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
  }

  .avatar-open {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
    width: 60px;
    height: 60px;

    .avatar-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .avatar {
        display: inherit;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }

  }

  .menu-button-open {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;

    .mat-button-focus-overlay {
      display: none !important;
      opacity: 0 !important;
    }

    @media screen and (min-width: 1101px) {
      display: none;
    }
  }

  .page-title {
    width: 100%;
    position: relative;

    p {
      font-size: 20px;
      padding: 5px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      margin: 0;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    @media screen and (min-width: 1101px) {
      display: none;
    }
  }
}

.mat-menu-item .mat-icon {
  vertical-align: middle !important;

  &.fa-icon {
    vertical-align: sub !important;
  }
}

.mat-menu-item[disabled] {
  color: $font-color-dark;
}