<link rel="stylesheet" href="header.component.scss">
<header>
  <a class="logo" [routerLink]="['/home/']">
    <img src="./img/TheWebConference2018-logo.png">
  </a>
  <menu></menu>
  <div class="page-title">
    <!-- <p id="page-title-p">
        </p> -->
  </div>
  <div class="menu-btn">
    <notification></notification>
    <button md-icon-button [mdMenuTriggerFor]="menu" class="avatar-open">
      <div class="avatar-wrapper">
        <div *ngIf="!hasLogged || (hasLogged && avatar == null)">
          <img class="avatar" src="./img/placeholder.jpg" />
        </div>
        <div *ngIf="hasLogged && avatar != null">
          <img class="avatar" src={{avatar}}/>
        </div>
        <md-icon>arrow_drop_down</md-icon>
      </div>
    </button>

    <md-menu [overlapTrigger]="false" xPosition="before" yPosition="below" #menu="mdMenu" class="account-menu">
      <div *ngIf="!hasLogged">
        <button md-menu-item disabled>
          <md-icon>account_circle</md-icon>
          <span>Guest</span>
        </button>
        <button [routerLink]="['/login/']" md-menu-item>
          <md-icon class="fa-icon">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </md-icon>
          <span>Login</span>
        </button>
        <button [routerLink]="['/signup/']" md-menu-item>
          <md-icon class="fa-icon">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </md-icon>
          <span>Sign up</span>
        </button>
      </div>
      <div *ngIf="hasLogged">
        <button [routerLink]="['/profile/']" md-menu-item>
          <md-icon>account_circle</md-icon>
          <span>{{username}}</span>
        </button>
        <button (click)="logout()" md-menu-item>
          <md-icon class="fa-icon">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </md-icon>
          <span>Logout</span>
        </button>
      </div>
    </md-menu>

    <button md-icon-button class="menu-button-open" (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </div>
</header>