@import "../../_globals";

header {
  width: 100%;
  height: 75px;
  background: $header-background;
  box-shadow: $md-whiteframe-glow;

  .logo {
    img {
      width: 80px;
      height: 65px;
      position: relative;
      left: 10px;
      top: 0;
    }
  }
}
