/* Global variables to use in the rest of the scss */

$sidenav-background: rgb(48, 48, 48);
$application-background: rgba(250, 250, 250, 1);
$font-color-dark: rgba(0, 0, 0, 0.87);
$font-color-light: rgba(255, 255, 255, 0.87);
$header-background: #f6f6f6;
$md-whiteframe-glow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
$md-search-whiteframe: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
$primary-color: #8147FF;