@import "globals";

md-sidenav-layout {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: $application-background;
}

.menu-button-open {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
}

.menu-button-close {
  color: #111;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

menu {
  margin: 0;
  padding: 0;
}

md-sidenav {
  width: 200px;
  text-align: center;
  background-color: $sidenav-background;
  padding: 0;
}

.content {
  margin: 10px;
}