@import "globals";

md-sidenav-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: $header-background !important;
}

.mat-sidenav.mat-sidenav-push {
   background: $header-background !important;
}

.menu-button-open, .menu-button-close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;

  .mat-button-focus-overlay {
    display: none !important;
    opacity: 0 !important;
  }

  @media screen and (min-width: 801px) {
    display: none;
  }
}

menu {
  margin: 0;
  padding: 0;
}

md-sidenav {
  width: 200px;
  text-align: center;
  background-color: $header-background;
  padding: 0;

  @media screen and (min-width: 801px) {
    display: none;
  }
}