<mat-sidenav-container>
  <header-app [sidenav]="end"></header-app>

  <mat-sidenav #end align="end" mode="push">
    <div class="conf-logo">
      <a class="logo" [routerLink]="['/home/']">
        <img src="./img/TheWebConference2018-logo.png">
      </a>
    </div>
    <menu class="side" (click)  ="end.close()"></menu>
    <div class="sympozer-logo">
      <a href="http://sympozer.liris.cnrs.fr/">
        <img src="./img/Sympozer_logo.png"/>
      </a>
    </div>
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="back" *ngIf="backHistory && (iOS || (!iOS && fullscreen))">
    <button md-fab color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <share id="share" class="share"></share>

</mat-sidenav-container>
