<md-sidenav-container>
  <header-app [sidenav]="end"></header-app>

  <md-sidenav #end align="end" mode="push">
    <menu class="side" (click)="end.close()"></menu>
  </md-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="back" *ngIf="backHistory && (iOS || (!iOS && fullscreen))">
    <button md-fab color="primary" (click)="goBack()">
      <md-icon>arrow_back</md-icon>
    </button>
  </div>

  <share id="share" class="share"></share>

</md-sidenav-container>

