@import "globals";

md-sidenav-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: $application-background;
}

.menu-button-open {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;

  @media screen and (min-width: 801px) {
    display: none;
  }
}

menu {
  margin: 0;
  padding: 0;
}

md-sidenav {
  width: 200px;
  text-align: center;
  background-color: $header-background;
  padding: 0;

  @media screen and (min-width: 801px) {
    display: none;
  }
}

.content {
  margin: 10px;
}