<div class="component-wrapper">
  <div class="login-wrapper">
    <md-card class="inscription-card">
      <div class="header">
        <h4>Update your profile</h4>
      </div>
      <div class="inscription-form">

        <form>
          <br>
          <md-input-container>
            <input [(ngModel)]="user.firstname" mdInput type="text" name="user.firstname" placeholder="First name" readOnly="readOnly">
          </md-input-container>

          <md-input-container>
            <input [(ngModel)]="user.lastname" mdInput type="text" name="user.lastname" placeholder="Last name" readOnly="readOnly">
          </md-input-container>

          <md-icon>
            <i class="fa fa-twitter"></i>
          </md-icon>
          <md-input-container>
            <input [(ngModel)]="user.twitter" mdInput type="text" name="user.twitterpage" placeholder="Twitter Account">
          </md-input-container>

          <md-input-container>
            <input [(ngModel)]="user.facebook" mdInput type="text" name="user.facebookpage" placeholder="Facebook Account">
          </md-input-container>

          <md-input-container>
            <input [(ngModel)]="user.google" mdInput type="text" name="user.googlepage" placeholder="Google Account">
          </md-input-container>

          <md-icon>
            <i class="fa fa-linkedin"></i>
          </md-icon>
          <md-input-container>
            <input [(ngModel)]="user.linkedinaccount" mdInput type="text" name="user.linkedinaccount" placeholder="Linkedin Account">
          </md-input-container>

          <md-input-container>
            <input [(ngModel)]="user.homepage" mdInput type="text" name="user.homepage" placeholder="Home Page">
          </md-input-container>

          <md-input-container>
            <input [(ngModel)]="user.photoUrl" mdInput type="text" name="user.photoUrl" placeholder="Photo Link">
          </md-input-container>


            <!--
          <div class="inscription-footer">
            <button md-button color="primary" (click)="updateUser(user)">Update</button>
          </div>

          <div class="btn-social-network">
            <a class="social-button facebook-btn">
              <span>Connect with Facebook</span>
            </a>
            <a class="social-button twitter-btn">
              <span>Connect with Twitter</span>
            </a>
            <a class="social-button google-btn">
              <span>Connect with Google</span>
            </a>
            <a class="social-button linkedin-btn">
              <span>Connect with LinkedIn</span>
            </a>
          </div>
          -->

        </form>

        <!--
        <div class="inscription-footer">
          <button md-button color="primary" (click)="getUserExternal(user)">GET USER</button>
        </div>
        -->

      </div>
    </md-card>
  </div>
</div>