<h1>
    {{person.name}} <br />
</h1>
<div *ngIf="orgas != []">
    <h2>Organization(s)</h2>
    <md-list>
        <md-list-item *ngFor="let orga of orgas">
            <b> <a [routerLink]="['/organization/'+orga.name+'/'+orga.id]">{{orga.name}}</a></b>
        </md-list-item>
    </md-list>
</div>
<div *ngIf="roles != []">
    <h2>Role(s)</h2>
    <md-list>
        <md-list-item *ngFor="let role of roles">
            <b> <a [routerLink]="['/person-by-role/'+role.name+'/'+role.id]">{{role.name}}</a></b>
        </md-list-item>
    </md-list>
</div>
<div *ngIf="publiConf != []">
    <h2>Conference Publication(s)</h2>
    <md-list>
        <md-list-item *ngFor="let publi of publiConf">
            <b> <a [routerLink]="['/publication/'+publi.title+'/'+publi.id]">{{publi.title}}</a></b>
        </md-list-item>
    </md-list>
</div>
<div *ngIf="person.publications != []">
    <h2>Other Publication(s)</h2>
    <md-list>
        <md-list>
            <md-list-item *ngFor="let publication of person.publications">
                <b> <a [routerLink]="['/externPublication/'+publication.publiUri.value]"> {{publication.publiTitle.value}}</a></b>
            </md-list-item>
        </md-list>
    </md-list>
</div>

