<div class="component-wrapper fixed-height">
  <h1 id="description-title"> {{title}} </h1>

  <app-autocomplete [seachFor]="'name'" [items]="authors" [namespace]="'person'"></app-autocomplete>

  <div scrollLoader class="search-results" [listItems]="authors" (updatePartialTable)="tabAuthors = $event">
    <div class="action-links list-items multiple-lines multiple-links" *ngFor="let author of tabAuthors">
      <md-card>
        <div class="wrapper">
          <a class="event-info" [routerLink]="['/person/'+encoder.encode(author.name)+'/'+author.id]">
            <md-icon>perm_identity</md-icon>
            {{author.name}}</a>
          <div class="other-links" *ngFor="let publication of author.publications">
            <a [routerLink]="['/publication/'+encoder.encode(publication.label)+'/'+publication.id]" class="event-info">
              <md-icon>description</md-icon>
              {{publication.label}}
            </a>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>