<div class="login-wrapper">
  <mat-card class="inscription-card">
  	<div class="header">
      <h4>Sign Up</h4>
    </div>
    <div class="inscription-form">
        <h5>Please sign up using the email address used for registering to the conference</h5>
        <form>
          <mat-form-field>
            <input #email matInput type="email" placeholder="Email">
          </mat-form-field>

          <mat-form-field>
            <input #firstname matInput type="firstname" placeholder="First Name">
          </mat-form-field>

          <mat-form-field>
            <input #lastname matInput type="lastname" placeholder="Last Name">
          </mat-form-field>

          <mat-form-field>
            <input #password matInput type="password" placeholder="Password">
          </mat-form-field>

          <small>The password must have at least 8 characters.</small>

          <mat-form-field>
            <input #confirmPassword matInput type="password" placeholder="Confirm password">
          </mat-form-field>

          <div class="inscription-footer">
            <button mat-button color="primary" (click)="signup(email.value, firstname.value, lastname.value, password.value, confirmPassword.value)">Sign up</button>
            <div class="sign-up">
              <br>
              <p>Can't sign up with this form?
                <a [routerLink]="['/signupWithBadge/']">Try signing up here</a> </p>
              <p>Already have an account ?
              <a [routerLink]="['/login/']">Log in</a> </p>
              
            </div>
          </div>
        </form>
    </div>
  </mat-card>
</div>
